RewriteEngine On
RewriteCond %{REQUEST_FILENAME}  -f
RewriteRule  ^(.+)  $1  [L]

RewriteRule ^ index.php [L]

RewriteCond $1 !^(index\.php|img|css|js|robots\.txt|favicon\.ico|update\.php|install\.php)
